In [12]:
# The function returns a pandas dataframe
import pandas as pd

def parseCsv(fileloc):
    # Reading the csv file
    df =pd.read_excel(fileloc)
    # Extracting out only the required columns
    df = df[['Shipment', 'Induct Station', 'Destination']].copy()
    return df

# Fill in the absolute path within quotes here
myVal =parseCsv('/home/sts/Desktop/swarm/main/data/sampleData.csv')
myVal

     Shipment  Induct Station Destination
0    FKMP0001               1   Ahmedabad
1    FKMP0002               1        Pune
2    FKMP0003               2   Ahmedabad
3    FKMP0004               2   Bengaluru
4    FKMP0005               2     Kolkata
..        ...             ...         ...
295  FKMP0296               1       Delhi
296  FKMP0297               2       Delhi
297  FKMP0298               2      Mumbai
298  FKMP0299               2   Ahmedabad
299  FKMP0300               1     Kolkata

[300 rows x 3 columns]